<launch>

  <!-- send elektron.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sarkofag_defs)/robots/sarkofag.urdf.xacro'" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- load controllers -->
</launch>

